@import 'inc/_functions';
@import 'inc/_fonts';
@import 'inc/_variables';
@import 'inc/_normalize';
body {
  background-color: $light;
  color: $dark;
  font-size: rem(20);
  line-height: 2rem;
  font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5 ,h6 {
  color: $accent;
  font-family: 'Patua One',serif;
  letter-spacing: rem(2);
}

a {
  color: $accent;
  text-decoration: underline;
  &:hover, &:visited, &:focus {
    color: $accent-2;
  }
}

.skip-to-content-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  &:focus {
    background-color: $dark;
    clip: auto !important;
    clip-path: none;
    color: $light;
    display: block;
    font-size: 1em;
    height: auto;
    line-height: normal;
    padding: 0.33em;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: auto;
    z-index: 99999;
  }
}

.container {
  padding: rem(40);
  max-width: rem(750);
  margin: auto;
}

header {
  background-color: $dark;
  color: $light;
  a, a:visited, a:focus, a:hover,
  h1, h2, h3, h4, h5, h6 {
    color: $light;
  }
}

#main-nav ul {
  padding: 0;
  margin: 0 -1.5rem;
  display: flex;
  list-style-type: none;
  li {
    a {
      padding: 0.75rem 1.5rem;
    }
  }
}
